fastapi==0.111.0
uvicorn==0.29.0
requests==2.31.0
pydantic==2.7.1
pydantic-settings
motor
dnspython
pymongo==4.7.2
python-dotenv
httpx
beautifulsoup4
playwright>=1.40.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
aiohttp==3.9.5
numpy
pytest
pytest-asyncio
mongomock-motor
